<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.venter.crm">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.net.conn.CONNECTIVITY_CHANGE" />
    <uses-permission android:name="android.intent.action.NEW_OUTGOING_CALL" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".CRM"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CRM"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".empMang.CampRawDataActivity"
            android:exported="false" />
        <activity
            android:name=".empMang.AdminRawDataActivity"
            android:exported="false" />
        <activity
            android:name=".integration.IntegrationActivity"
            android:exported="false" />
        <activity
            android:name=".whatsTemp.MessagingActivity"
            android:exported="false" />
        <activity
            android:name=".bot.BotActivity"
            android:exported="false" />

        <service
            android:name=".hrMangment.EmpDocumentService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".hrMangment.EmpProfileDPService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".hrMangment.HrActivity"
            android:exported="true" />
        <activity
            android:name=".userledger.WhatsListActivity"
            android:exported="false" />
        <activity
            android:name=".whatsTemp.WhatsAppAccounts"
            android:exported="false" />
        <activity
            android:name=".Dashboard.AdminProfileActivity"
            android:exported="false" />
        <activity
            android:name=".reportMangment.AdminReportDash"
            android:exported="false" />
        <activity
            android:name=".userledger.UserAssignmentActivity"
            android:exported="false" />

        <service
            android:name=".empMang.DatabaseUploadService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Dashboard.EmployeeDash"
            android:exported="false"
            android:label="@string/title_activity_employee_dash"
            android:theme="@style/Theme.CRM" />
        <activity
            android:name=".userledger.UserReport"
            android:exported="false" />
        <activity
            android:name=".userledger.DataTransActivity"
            android:exported="false" />
        <activity
            android:name=".userledger.WhatsAppActivity"
            android:exported="false" />
        <activity
            android:name=".userledger.UserDetActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeeMangment.WorkingHourseAcivity"
            android:exported="false" />

        <service
            android:name=".whatsTemp.ImageUploadFrgnd"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".whatsTemp.EditWhatsTemp"
            android:exported="false" />
        <activity
            android:name=".whatsTemp.WhatsappTemplates"
            android:exported="false" />
        <activity
            android:name=".EmployeeMangment.AsmissionDataActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeeMangment.TelecallerReportActivity"
            android:exported="false" />
        <activity
            android:name=".Candidate.CandidateDoc"
            android:exported="false" />
        <activity
            android:name=".empMang.RawDataDetActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeeMangment.RawDataActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeeMangment.EmpMangmentActivity"
            android:exported="false" />
        <activity
            android:name=".userledger.UserAddActivity"
            android:exported="false" />
        <activity
            android:name=".userledger.UserLedgerActivity"
            android:exported="false" />
        <activity
            android:name=".officeexpenses.ExpensesReportActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".officeexpenses.ExpenseRecptActivity"
            android:exported="false" />
        <activity
            android:name=".officeexpenses.ExpensesDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".candidateFee.CandidateFeeReceiptActivity"
            android:exported="false" />
        <activity
            android:name=".candidateFee.FeeReceiptActivity"
            android:exported="false" />
        <activity
            android:name=".candidateFee.FeeDashboard"
            android:exported="false" />

        <service
            android:name=".Candidate.CandidateProfileFrgnd"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".FirebaseService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Candidate.CandidateDet"
            android:exported="false" />
        <activity
            android:name=".Candidate.CandidateCertificate"
            android:exported="false" />
        <activity
            android:name=".Candidate.CandidateAcc"
            android:exported="false" />
        <activity
            android:name=".Candidate.CandidateMang"
            android:exported="false" />
        <activity
            android:name=".Dashboard.EmpDashboard"
            android:exported="false" />
        <activity
            android:name=".Dashboard.AdminDashboard"
            android:exported="false" />
        <activity
            android:name=".Login.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".Login.LogInActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.venter.crm.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>